# Default Options for xasy

# External editor. $asypath will be replaced by the current file. 
externalEditor: "emacs"
externalEditorArgs: ["$asypath"]

# Path to Asymptote executable
asyPath: "asy"

# Overwrites the ASYMPTOTE_DIR Environment variable if set. Otherwise, leaves asymptote to decide. 
asyBaseLocation: null

# Show Debugging Information
showDebug: false

# Default Pen Options
defaultPenOptions: ""

# Default Pen Color 
defaultPenColor: "#000000"

# 
defaultPenWidth: 1.0
enableImmediatePreview: true
useDegrees: false
groupObjDefault: false

# 
terminalFont: "Courier"
terminalFontSize: 10

# 
defaultShowAxes: true
defaultShowGrid: false
defaultGridSnap: false

# Grid Commands 
drawSelectedOnTop: true
gridMajorAxesColor: "#000000"
gridMinorAxesColor: "#AAAAAA"
gridMajorAxesSpacing: 100
gridMinorAxesCount: 9

# Debug Mode
debugMode: true

# Settings Override for Windows
windows:
    externalEditor: "notepad.exe"
    externalEditorArgs: ["$asypath"]

# Settings Override for Linux
linux:
    externalEditor: 'emacs'