# Default Keymaps for xasy

commandPalette: "Ctrl+P"
quit: "Ctrl+Q"
deleteObject: "Del"

finalizeCurve: "Space"
finalizeCurveClosed: "c"

anchorMode: "Ctrl+A"

undo: 'Ctrl+Z'
redo: 'Ctrl+Y'

moveUp: 'Up'
moveDown: 'Down'