<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.76.0.0" targetFramework="native" />
  <package id="boost_chrono-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_context-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_coroutine-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_date_time-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_filesystem-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_program_options-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_regex-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="boost_system-vc140" version="1.76.0.0" targetFramework="native" />
  <package id="boost_thread-vc141" version="1.76.0.0" targetFramework="native" />
  <package id="tencent.rapidjson" version="1.1.1" targetFramework="native" />
</packages>